<ion-content>
  <swiper-container
    slides-per-view="1"
    pagination="true"
    class="full-screen"
  >

    
    <swiper-slide class="bg-color-slide">
      <ion-icon name="football-outline" class="icon-style"></ion-icon>

      <h1 class="title1">¡Bienvenidos a FutbolManía!</h1>

      <img src="/assets/images/1.jpeg" class="logo-image">

      <p class="type1">
        Vive la emoción del fútbol como nunca antes. Descubre noticias, tácticas, partidos en vivo y mucho más.
      </p>
    </swiper-slide>

  
    <swiper-slide class="bg-color-slide">
      <ion-icon name="arrow-forward-outline" class="icon-style"></ion-icon>
      <h1 class="title1">Explora Partidos y Jugadores</h1>

      <img src="/assets/images/2.jpeg" class="explore-image" width="185">

      <p class="type1">
        Mantente al día con las ligas más importantes, descubre estadísticas y sigue a tus jugadores favoritos.
      </p>
    </swiper-slide>

   
    <swiper-slide class="bg-color-slide">
      <ion-icon name="arrow-forward-outline" class="icon-style"></ion-icon>
      <h1 class="title1">Organiza Tus Equipos</h1>

      <img src="/assets/images/3.jpeg" class="teams-image">

      <p class="type1">
        Crea y gestiona tus torneos, haz predicciones y sigue el rendimiento de tu equipo en cada jornada.
      </p>
    </swiper-slide>

   
    <swiper-slide class="bg-color-slide">
      <ion-icon name="close" class="close-icon icon-style" (click)="finish()"></ion-icon>
      <h1 class="title1">¡Tu Pasión, Tu Juego!</h1>

      <img src="/assets/images/4.jpeg" class="fans-image">

      <p class="type1">
        Personaliza tu experiencia futbolística con noticias personalizadas, alertas de goles y contenido exclusivo.
      </p>
    </swiper-slide>

  </swiper-container>
</ion-content>
