<ion-header>
  <ion-toolbar>
    <ion-title class="text-center">Dish Covery</ion-title>
    <ion-buttons>
      <ion-menu-button class="style-button"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="home-content">
 
  <ion-searchbar
    search-icon="search-circle"
    animated="true"
    placeholder="Search Users"
    (ionInput)="searchUsers($event)"
    class="searchbar">
  </ion-searchbar>

 
  <ion-list>
    <ion-item *ngFor="let user of users">
      <ion-avatar slot="start">
        <img [src]="user.image || 'assets/images/imagepredert.jpg'">
      </ion-avatar>
      <ion-label>
        <h2>{{ user.name }} {{ user.last_name }}</h2>
      </ion-label>
      <ion-button slot="end" (click)="toggleFollow(user)">
        <ion-icon [name]="user.is_following ? 'heart-dislike-outline' : 'heart-outline'"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  
  <ion-infinite-scroll threshold="50px" (ionInfinite)="loadUsers($event)" *ngIf="hasHoreUsers">
    <ion-infinite-scroll-content
      loadingText="Ya vienen!!!"
      loadingSpinner="bubbles"
      class="scroll-content">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
