<ion-header>
    <ion-toolbar class="toolbar-container">
      <ion-buttons slot="start">
        <ion-menu-button class="menu-button"></ion-menu-button>
      </ion-buttons>
      <ion-title class="text-center"></ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-progress-bar type="indeterminate" color="medium" *ngIf="isLoading"></ion-progress-bar>
  
   
    <ion-list class="home-content">
      <ion-card *ngFor="let post of posts" class="post-card">
        <img [src]="post.image" class="post-image" />
  
        <ion-card-header>
          <div class="post-header">
            <ion-avatar class="user-avatar">
              <img [src]="post.user.image ? post.user.image : 'assets/images/imagepredert.jpg'" />
            </ion-avatar>
            <p class="username">{{ post.user.name }}</p>
          </div>
        </ion-card-header>
  
        <ion-card-content>
          <p class="post-description">{{ post.description }}</p>
        </ion-card-content>
      </ion-card>
    </ion-list>
  
    
    <ion-infinite-scroll threshold="250px" (ionInfinite)="loadPosts($event)" *ngIf="hasMore">
      <ion-infinite-scroll-content loadingText="Cargando más publicaciones..." loadingSpinner="crescent"></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  
    
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="addPost()">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  
   
    <ion-fab vertical="bottom" horizontal="center" slot="fixed">
      <ion- class="app-logo">
        <img src="/assets/images/logoapp.jpeg" alt="Logo de futbol" />
      </ion-avatar>
    </ion-fab>
  </ion-content>
  