<ion-header>
  <ion-toolbar>
    <ion-title class="text-center">DishCovery</ion-title>
    <ion-icon name="arrow-back" class="close-icon" (click)="finish()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="home-content">

  <ion-img alt="logoapp" src="/assets/images/logoapp.jpeg" class="logo-img"></ion-img>

  
  <form [formGroup]="registerFrom" (ngSubmit)="registerUser(registerFrom.value)" class="register-form">
    
    <ion-card>
      <ion-item>
        <ion-input label="Email" labelPlacement="floating" formControlName="email"></ion-input>
      </ion-item>
    </ion-card>
    
    
    <ion-card>
      <ion-item>
        <ion-input label="Nombre" labelPlacement="floating" formControlName="name"></ion-input>
      </ion-item>
    </ion-card>

 
    <ion-card>
      <ion-item>
        <ion-input label="Apellido" labelPlacement="floating" formControlName="lastname"></ion-input>
      </ion-item>
    </ion-card>

    
    <ion-card>
      <ion-item>
        <ion-input label="Username" labelPlacement="floating" formControlName="username"></ion-input>
      </ion-item>
    </ion-card>

  
    <ion-card>
      <ion-item>
        <ion-input label="Contraseña" labelPlacement="floating" type="password" formControlName="password"></ion-input>
      </ion-item>
    </ion-card>

   
    <ion-card>
      <ion-item>
        <ion-input label="Verificación" labelPlacement="floating" type="password" formControlName="passwordConfirmation"></ion-input>
      </ion-item>
    </ion-card>

    <div class="button-container">
      <ion-button type="submit" [disabled]="!registerFrom.valid">Sign Up</ion-button>
    </div>
  </form>

  
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-avatar class="app-logo">
      <img src="/assets/images/logoapp.jpeg" alt="Logo de DishCovery"/>
    </ion-avatar>
  </ion-fab>

  <p>{{errorMessage}}</p>
</ion-content>
